body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-offWhite {
  background-image: linear-gradient(90deg,
      rgba(253, 207, 207, 0.171) 0%,
      rgba(202, 210, 248, 0.146) 100%);

  border-bottom: 1px solid rgba(221, 221, 221, 0.146);
}

@tailwind base;
@tailwind components;
@tailwind utilities;